[Desktop Entry]
Encoding=UTF-8
Name=Tilo
Type=Service
ServiceTypes=Plasma/Applet
Icon=YES
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Helder Fraga
X-KDE-PluginInfo-Email=helderfraga@gmail.com
X-KDE-PluginInfo-Name=Tilo
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
